<div class="container">

  <ion-list lines="none">
    <ion-item (click)="takePhoto('id_front')">
      <ion-label>Documento Frente</ion-label>
    </ion-item>

    <ion-item (click)="takePhoto('id_back')" >
      <ion-label>Documento Dorso</ion-label>
    </ion-item>

    <ion-item (click)="takePhoto('proof_residence')" >
      <ion-label>Servicio a su nombre</ion-label>
    </ion-item>
    <ion-item>
      <ion-button  (click)="send()">Enviar</ion-button>
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-item>
  </ion-list>

</div>