<div class="container">

  <ion-list lines="none">
    <ion-item>
      <ion-label>País:</ion-label>
      <ion-input [(ngModel)]="country" type="text" value="Argentina"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Provincia:</ion-label>
      <ion-input [(ngModel)]="state" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad:</ion-label>
      <ion-input [(ngModel)]="city" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Código Postal:</ion-label>
      <ion-input [(ngModel)]="cp" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Documento:</ion-label>
      <ion-input [(ngModel)]="id_type" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Número de documento:</ion-label>
      <ion-input [(ngModel)]="id" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono Celular:</ion-label>
      <ion-input [(ngModel)]="cel_phone" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimieto:</ion-label>
      <ion-input [(ngModel)]="date_of_birth" type="text" value="Capital Federal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Genero:</ion-label>
      <ion-input [(ngModel)]="gender" type="text" value="Capital Federal"></ion-input>
    </ion-item>
 
  </ion-list>

</div>