<ion-content [fullscreen]="true">
  
  <div class="header-container">
    <ion-item lines="none" style="text-align: center;">
      <ion-label>Cotización Duollar</ion-label>
    </ion-item>
    <ion-item lines="none" style="text-align: center;">
      <ion-label>Compra {{price["sell_price"]|number : '1.4-4'}}</ion-label>
      <ion-label>Venta {{price["buy_price"]|number : '1.4-4'}}</ion-label>
    </ion-item>
  </div>

  <div id="container">
    <ion-item (click)="modalTranfer('G2G')" class="rocket">
      <ion-icon class="coin" name="rocket-outline"></ion-icon>
      <ion-label>
        Transferir Duollar
      </ion-label>
    </ion-item>
    <ion-item (click)="modalConvert('G2G')" class="rocket">
      <ion-icon class="coin" name="swap-horizontal-outline"></ion-icon>
      <ion-label>
        Convertir
      </ion-label>
    </ion-item>
    <ion-item (click)="cashOut()" class="rocket">
      <ion-icon class="coin" name="arrow-down-outline"></ion-icon>
      <ion-label>Retirar Saldo</ion-label>
    </ion-item>
    <ion-item (click)="cashIn()" class="rocket">
      <ion-icon class="coin" name="arrow-up-outline"></ion-icon>
      <ion-label>Cargar Saldo</ion-label>
    </ion-item>
  </div>

</ion-content>