<ion-content  [fullscreen]="true" >



  <div id="container">
      <ion-item>
        <ion-icon class="coin" name="server-outline"></ion-icon>
        <ion-label>DU$ Tokens {{balance_dus|number : '1.4-4'}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-icon class="coin" name="cash-outline"></ion-icon>
        <ion-label>Equivalente en $ARG</ion-label>
      </ion-item>
      
      <ion-item>
        <ion-icon class="coin" name="logo-usd"></ion-icon>
        <ion-label>ARG Pesos {{balance_ars|number : '1.2-2'}}</ion-label>
      </ion-item>
  </div>
</ion-content>