<ion-content [fullscreen]="true">

  <ion-item>
    <ion-segment [(ngModel)]="accountType">
      <ion-segment-button value="ARGS">
        <ion-label style="color: aliceblue;">Pesos Ars</ion-label>
      </ion-segment-button>
      <ion-segment-button value="DUOS">
        <ion-label style="color: aliceblue;">Duollar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-label>Movimiento</ion-label>
    <ion-label>Monto</ion-label>
  </ion-item>
  
  <div *ngIf="accountType=='DUOS'">
    <ion-item *ngFor="let transaction of transactionsDuos">
      <ion-label>{{transaction.date}}</ion-label>
      <ion-label *ngIf='transaction.value=="Deposit"'>DEPOSITO</ion-label>
      <ion-label *ngIf='transaction.value=="Withdrawal"'>EXTRACCION</ion-label>
      <ion-label>{{transaction.amount|number : '1.4-4'}}</ion-label>
    </ion-item>
  </div>

  <div *ngIf="accountType=='ARGS'">
    <ion-item *ngFor="let transaction of transactionsArgs">
      <ion-label>{{transaction.date}}</ion-label>
      <ion-label *ngIf='transaction.value=="Deposit"'>DEPOSITO</ion-label>
      <ion-label *ngIf='transaction.value=="Withdrawal"'>EXTRACCION</ion-label>
      <ion-label>{{transaction.amount|number : '1.4-4'}}</ion-label>
    </ion-item>
  </div>
  
</ion-content>