<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title *ngIf="kindOf=='G2G'">Pagar a Otra Cartera</ion-title>
    <ion-title *ngIf="kindOf=='CBU'">Pagar a un CBU</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card>

    <ion-item>
      <ion-input [(ngModel)]="accountIdentity"></ion-input>
      <ion-icon *ngIf="kindOf=='G2G'" name="qr-code-outline"></ion-icon>
      <ion-label *ngIf="kindOf=='CBU'">CBU</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" ></ion-icon>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
      
      
    </ion-item>

    <ion-item>
      <ion-button color="primary" (click)="check(kindOf)">Enviar</ion-button>
      <ion-button color="primary" (click)="dismiss()">cerrar</ion-button>
    </ion-item>

  </ion-card>
</div>