
.container {

  text-align: center;
  position: absolute;
  left: 10%;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparentize(rgb(3, 3, 43), 0.3);
  border-radius: 25px;
}

ion-list {
  background-color: transparent;
}

ion-button {
  --background: #3e3e3e;
  --background-activated:black;
}
