<div class="container">


  
    <ion-list lines="none">
    <ion-item>
      <ion-label *ngIf="kindOf=='G2G'">Usuario Duollar</ion-label>
      <ion-label *ngIf="kindOf=='CBU'">CBU</ion-label>
      <ion-input [(ngModel)]="accountIdentity"></ion-input>
      
    </ion-item>
    
    <ion-item>
      <ion-icon *ngIf="kindOf=='CBU'" name="logo-usd" ></ion-icon>
      <ion-label *ngIf="kindOf=='G2G'">Duollars</ion-label>
      <ion-input [(ngModel)]="amount" type="number"></ion-input>
    </ion-item>

    <ion-item *ngIf="kindOf=='G2G'">
      <ion-label>aprox en $ARG</ion-label>
      <ion-label>{{sellPrice*amount | number : '1.4-4'}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>mensaje (opcional):</ion-label>
      <ion-input [(ngModel)]="message" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-button  (click)="check(kindOf)">Enviar</ion-button>
      <ion-button  (click)="dismiss()">Cerrar</ion-button>
    </ion-item>

  </ion-list>
</div>
