

<div class="container">

  <ion-list lines="none">
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
     
    </ion-item>
    
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button  (click)="login()">Enviar</ion-button>
      <ion-button (click)="modalSignin()">Dar de alta</ion-button>
    </ion-item>
    

  </ion-list>
</div>
