<div class="container">


  
<ion-list lines="none">
  <ion-item>
    <ion-label>
      Convertir moneda
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>de:</ion-label>
    <ion-select value="from" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option value="DUOS">Duollar</ion-select-option>
      <ion-select-option value="ARGS">Pesos Argentinos</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>a:</ion-label>
    <ion-select value="to" okText="Seleccionar" cancelText="Cancelar">
      <ion-select-option value="DUOS">Duollar</ion-select-option>
      <ion-select-option value="ARGS">Pesos Argentinos</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>cantidad:</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>
</ion-list>

  


</div>